<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http use-expressions="true">
      <intercept-url method="DELETE" pattern="/**" access="ROLE_USER"/>
<!--       <intercept-url method="PUT" pattern="/**" access="ROLE_USER"/> -->
<!--       <intercept-url method="POST" pattern="/observations" access="ROLE_USER"/> -->
      <http-basic/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <jdbc-user-service
                data-source-ref="dataSource"
                users-by-username-query="START u=node:observers(email=&quot;?&quot;) MATCH u RETURN u.email, u.password, u.active"
                authorities-by-username-query="START u=node:observers(email=&quot;?&quot;) MATCH u RETURN &quot;ROLE_USER&quot;"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>